/* overwrite css */

body {font-size: 14px;line-height: 17px;}
body, h1, h2, h3, h4, h5, h6, p {font-family:"Gibson";font-weight:200;}

.row {width:820px;}

h1 {margin:30px 0 0 0;}
h2 {margin:0 0 30px 0;}
h3 {}
h4 {
	font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
	}
h5 {}
h6 {}
p {color:#333;}
a {font-weight:normal;}
strong {font-weight:600;}

ul.inline-list {border-top: 1px dotted #ccc;border-bottom: 1px dotted #ccc;margin-left:0px;padding:8px 0;}
ul.inline-list li {margin:0 20px 0 0;}